:root {
  --color-primary: #434455;
  --color-primary-dark: #2e2f42;
  --clr-primary-inverted: #ffffff;
  --clr-background: #e5e5e5;
  --clr-background-dark: #f4f4fd;
  --color-button-off: #4d5ae5;
  --clr-button-on: #404bbf;
  --color-wiete-foo: #e7e9fc;
  --font-family-big: "Raleway";
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-primary);
  font-size: 16px;
  line-height: 1.5;
}
ul {
  list-style-type: none;
}

.navigation .link {
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-primary-dark);
}
.navigation .link:hover {
  letter-spacing: 0.02em;
  color: var(--clr-button-on);
}

.page-addres .link {
  color: var(--color-primary);
  letter-spacing: 0.02em;
  text-decoration: none;
}
.page-addres .link:hover {
  color: var(--clr-button-on);
}

.logo-first {
  font-family: var(--font-family-big);
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
  letter-spacing: 0.03em;

  color: var(--color-button-off);
}
.logo-second-f {
  font-family: var(--font-family-big);

  color: var(--clr-background-dark);

  letter-spacing: 0.03em;
}
.logo-second {
  color: var(--color-primary-dark);
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--clr-primary-inverted);
}
.hero-image {
  background: var(--color-primary-dark);
}
.button-service {
  letter-spacing: 0.04em;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--clr-primary-inverted);
  background-color: var(--color-button-off);
  cursor: pointer;
}
.button-service:hover {
  background-color: var(--clr-button-on);
}

.text-strategy {
  letter-spacing: 0.02em;
  color: var(--color-primary-dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.text-pun {
  letter-spacing: 0.02em;
  color: var(--color-primary-dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.text-diligence {
  letter-spacing: 0.02em;
  color: var(--color-primary-dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.text-technologies {
  letter-spacing: 0.02em;
  color: var(--color-primary-dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.section-two-strategy {
  color: var(--color-primary);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-two-pun {
  color: var(--color-primary);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-two-diligence {
  color: var(--color-primary);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-two-technologies {
  color: var(--color-primary);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page-waw-doing {
  letter-spacing: 0.02em;
  font-size: 36px;
  line-height: 1.11;
  color: var(--color-primary-dark);
}
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--color-primary-dark);
}
.foto-tim-main-m {
  background: url(man-with-laptop-presenting-something.jpg);
  mix-blend-mode: normal;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.piple-m {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.11;
  color: var(--color-primary-dark);
}
.piple-t {
  letter-spacing: 0.02em;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.11;
  color: var(--color-primary-dark);
}
.piple-c {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.11;
  color: var(--color-primary-dark);
}
.piple-d {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.11;
  color: var(--color-primary-dark);
}
.paragraf-product {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-primary);
}
.paragraf-frontend {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-primary);
}
.paragraf-marketing {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-primary);
}
.paragraf-ui {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-primary);
}

.footer-fon {
  background: var(--color-primary-dark);
}
.footer-p {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-wiete-foo);
}
/* PAGE 2 */
.but-all {
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-button-off);
  background: var(--clr-background-dark);
  border: 1px solid var(--color-wiete-foo);
  border-radius: 4px;
  font-family: "Roboto";
}
.but-all:hover {
  letter-spacing: 0.04em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: var(--clr-button-on);
  color: var(--clr-primary-inverted);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  font-family: "Roboto";
}
.but-web {
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-button-off);
  background: var(--clr-background-dark);
  border: 1px solid var(--color-wiete-foo);
  border-radius: 4px;
  font-family: "Roboto";
}
.but-web:hover {
  letter-spacing: 0.04em;
  background: var(--clr-button-on);
  color: var(--clr-primary-inverted);
  border: 1px solid var(--color-wiete-foo);
  border-radius: 4px;
  cursor: pointer;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto";
}
.but-app {
  letter-spacing: 0.04em;
  background: var(--clr-background-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-button-off);
  border: 1px solid var(--color-wiete-foo);
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
  font-family: "Roboto";
}
.but-app:hover {
  letter-spacing: 0.04em;
  border: 1px solid var(--color-wiete-foo);
  border-radius: 4px;
  background: var(--clr-button-on);
  color: var(--clr-primary-inverted);
  flex: none;
  order: 2;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto";
}
.but-desing {
  letter-spacing: 0.04em;
  color: var(--color-button-off);
  background: var(--clr-background-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid var(--color-wiete-foo);
  border-radius: 4px;
  flex: none;
  order: 3;
  font-family: "Roboto";
}
.but-desing:hover {
  border: 1px solid var(--color-wiete-foo);
  border-radius: 4px;
  letter-spacing: 0.04em;
  background: var(--clr-button-on);
  color: var(--clr-primary-inverted);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto";
}
.but-marketing {
  letter-spacing: 0.04em;
  background: var(--clr-background-dark);
  border: 1px solid var(--color-wiete-foo);
  border-radius: 4px;
  color: var(--color-button-off);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  order: 4;
  font-family: "Roboto";
}
.but-marketing:hover {
  letter-spacing: 0.04em;
  border: 1px solid var(--color-wiete-foo);
  border-radius: 4px;
  background: var(--clr-button-on);
  color: var(--clr-primary-inverted);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto";
}
.text-name-ban {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-primary-dark);
}
.text-name-cash {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-primary-dark);
}
.text-name-app {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-primary-dark);
}
.text-name-taxi {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-primary-dark);
}
.text-name-screen {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-primary-dark);
}
.text-name-online {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-primary-dark);
}
.text-name-inst {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-primary-dark);
}
.text-name-organic {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-primary-dark);
}
.text-name-fresh {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-primary-dark);
}
.paragraf-portfolio-a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  order: 1;
}
.paragraf-portfolio-m {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  order: 1;
}
.paragraf-portfolio-ap {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  order: 1;
}
.paragraf-portfolio-ma {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  order: 1;
}
.paragraf-portfolio-d {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  order: 1;
}
.paragraf-portfolio-mar {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  order: 1;
}
.paragraf-portfolio-de {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  order: 1;
}
.paragraf-portfolio-w {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  order: 1;
}
.paragraf-portfolio-we {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  order: 1;
}
